
  <%- include('./partials/head.ejs') %>

  <body>
    <!-- navigation -->
    <%- include('./partials/navbar.ejs') %>
    
    <!-- welcome page/ main screen -->
    <%- include('./home/main.ejs') %>
    
    <!-- game choice -->
    <%- include('./home/game-choice.ejs') %>
      

      <!-- features -->
      <%- include('./home/features.ejs') %>

   <!-- system requirements -->
   <section id="requirements">
    <div class="vignete">
      <div class="shadow container-fluid">
        <div class="container reflect">
          <div class="row">
            <p class="col text-white text-center mb-1 mb-md-3">
              Can My Computer Run this game?
            </p>
          </div>

          <div class="row my-lg-5">
            <h2
              class="col-6 col-sm-auto text-white text-uppercase fs-1 h1 fw-normal"
            >
              System Requirements
            </h2>
          </div>
          <div class="row mx-2">
            <div class="col-lg-3 col-md-6 col-sm-6 aborder py-3">
              <h3 class="text-color">OS:</h3>
              <p class="text-white">
                Windows 7 64-bit only (no OSX support at this time)
              </p>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 aborder py-3">
              <h3 class="text-color">Processor:</h3>
              <p class="text-white">
                Intel Core 2 Duo @ 2.4 GHZ or AMD Athion X2 @2.8 GHZ
              </p>
            </div>
          </div>
          <div class="row mx-2">
            <div class="col-lg-3 col-md-6 col-sm-6 aborder py-3">
              <h3 class="text-color">Memory:</h3>
              <p class="text-white">4 GB RAM</p>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 aborder py-3">
              <h3 class="text-color">Storage:</h3>
              <p class="text-white">8 GB available space</p>
            </div>
          </div>

          <div class="row mx-2">
            <div class="col-lg-6 col-md-12 col-sm-12 aborder py-3">
              <h3 class="text-color">GRAPHICS:</h3>
              <p class="text-white">
                NVIDIA GeForce GTX 6620 2GB or AMD Radeon HD 7850 2GB
                DirectX11 (Shader Model 5)
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

      <!-- top score -->
      <section id="top-score">
        <div class="vignete">
          <div
            class="my-auto main-content flex-row px-lg-5 flex-wrap flex-lg-nowrap"
          >
            <div
              class="bg-score-a d-flex flex-column justify-content-center flex-fill"
            >
              <h1 class="text-white">TOP SCORES</h1>
              <p class="my-4 text-white">
                This top score from various games provided on this platform
              </p>
              <button class="btn button-score btn-warning px-4 w-50 mb-3">
                see more
              </button>
            </div>

            <div
              class="bg-score-b d-flex flex-column align-content-between flex-fill"
            >
              <div class="social-card container align-self-lg-end flex-grow">
                <div class="row">
                  <div class="scard-pict col-3 col-sm-2 col-md-3 col-xxl-2">
                    <div class="after-image">
                      <img
                        src="/pict/2.png"
                        class="rounded-circle"
                        alt=""
                      />
                    </div>
                  </div>
                  <div class="scard-name col-7 col-xxl-9">
                    <h6>Evan Lahti</h6>
                    <p>PC Gamer</p>
                  </div>
                  <div class="col-1 scard-twitter px-1">
                    <img src="/pict/twitter.svg" alt="" />
                  </div>
                </div>

                <div class="row">
                  <div class="col">
                    <p class="text-white">
                      "One of my gaming highlight of the year."
                    </p>
                  </div>
                </div>

                <div class="row">
                  <div class="col">
                    <span>June 18, 2021</span>
                  </div>
                </div>
              </div>

              <div class="social-card my-lg-4 my-2">
                <div class="row">
                  <div class="scard-pict col-3 col-sm-2 col-md-3 col-xxl-2">
                    <div class="after-image">
                      <img
                        src="/pict/1.png"
                        class="rounded-circle"
                        alt=""
                      />
                    </div>
                  </div>
                  <div class="scard-name col-7 col-xxl-9">
                    <h6>Jada Griffin</h6>
                    <p>Nerdreactor</p>
                  </div>
                  <div class="col-1 scard-twitter px-1">
                    <img src="/pict/twitter.svg" alt="" />
                  </div>
                </div>

                <div class="row">
                  <div class="col">
                    <p class="text-white">
                      "The next big thing in the world of streaming and survival
                      games."
                    </p>
                  </div>
                </div>

                <div class="row">
                  <div class="col">
                    <span>July 10, 2021</span>
                  </div>
                </div>
              </div>

              <div
                class="social-card social-card container align-self-lg-center"
              >
                <div class="row">
                  <div class="scard-pict col-3 col-sm-2 col-md-3 col-xxl-2">
                    <div class="after-image">
                      <img
                        src="/pict/3.png"
                        class="rounded-circle"
                        alt=""
                      />
                    </div>
                  </div>
                  <div class="scard-name col-7 col-xxl-9">
                    <h6>Aaron Williams</h6>
                    <p>Uproxx</p>
                  </div>
                  <div class="col-1 scard-twitter px-1">
                    <img src="/pict/twitter.svg" alt="" />
                  </div>
                </div>

                <div class="row">
                  <div class="col">
                    <p class="text-white">
                      "Snoop Dogg Playing The Wildly Entertaining 'SOS' Is
                      Ridiculous."
                    </p>
                  </div>
                </div>

                <div class="row">
                  <div class="col">
                    <span>December 24, 2018</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Subscriptions -->
    <section id="subscriptions" class="container-fluid">
      <div class="row h-100">
        <div class="col-md-6 d-flex justify-content-center">
          <img class="align-self-center" src="/pict/newsletter.png" alt="">
        </div>
        <div class="col-md-6 d-flex justify-content-center align-items-start px-3 flex-column">
          <div class="align-self-start w-50">
            <p class="text-white">Want to stay in touch?</p>
            <h2 class="text-white fs-1 h1 text-uppercase">newsletter subscribe</h2>
            <p class="text-white">In order to start receiving our news, all you have to do is enter your email address. Everything else will be taken care of by us. We will send you emails containing information about game. We don’t spam.
            </p>

          </div>

          <div class="d-flex justify-self-end">

            <div class="form-floating">
              <input
              class="form-control"
              type="text"
              placeholder="youremail@binar.co.id"
              id="floatingInput"
              />
              <label class="floatingInput" for="formControlReadonly">your e-mail address</label>
              
            </div>
            <button class="mx-2 btn btn-warning fw-bold py-2 px-5 text-capitalize" type="button">SUBSCRIBE NOW</button>
          </div>
        </div>
      </section>


    </section>

    <!-- footer -->
    <%- include('./partials/footer.ejs') %>

   <%- include('./partials/script.ejs') %>
  </body>
</html>
