
  <%- include('./partials/head.ejs') %>

  <body>
    <!-- navigation -->
    <%- include('./partials/navbar.ejs') %>
    
    <!-- welcome page/ main screen -->
    <%- include('./home/main.ejs') %>
    
    <!-- game choice -->
    <%- include('./home/game-choice.ejs') %>
      
    <!-- features -->
    <%- include('./home/features.ejs') %>

    <!-- system requirements -->
    <%- include('./home/requirements.ejs') %>

    <!-- top score -->
    <%- include('./home/scores.ejs') %>

    <!-- Subscriptions -->
    <%- include('./home/subscriptions.ejs') %>


    </section>

    <!-- footer -->
    <%- include('./partials/footer.ejs') %>

   <%- include('./partials/script.ejs') %>
  </body>
</html>
